<!DOCTYPE html>
<html>
  <head>
    <title>CarAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand:"Home",brand_link: vehicles_url do%>
      <%=form_tag vehicles_url,method: :get, class:"navbar-form navbar-right" do%>
        <div class="form-group">
          <%= text_field_tag :plate,@search,class:"form-control"%>
          <%= button_to "Search",nil,class:"btn btn-default"%>
        </div>
      <%end%>
      <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
      <%end%>
      <% if flash[:notice] %>
        <p class="notice alert alert-info"><%= notice %></p>
      <%end%>
      <% if flash[:alert] %>
        <p class="alert alert alert-warning"><%= alert %></p>
      <%end%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
